@import 'vars/index.scss';

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.mh-loader {
  text-align: center;

  &.mh-fullarea, &.mh-fullscreen {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba($colorWhite, 0.9);
    z-index: 10;

    .mh-spinner {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }

  .mh-message {
    white-space: pre-line;
    font-family: $fontFamilyBold;
    padding-bottom: 15px;
  }

  &.mh-fullscreen {
    position: fixed;
  }

  .mh-spinner {
    .mh-spinner-indicator {
      content: '';
      display: inline-block;
      box-sizing: border-box;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid transparent;
      border-top-color: $colorBlue;
      border-bottom-color: $colorBlue;
      animation: spinner .8s ease infinite;
    }
  }
}
