@import "vars/index.scss";

.mh-form-wrapper {
  background-color: $colorBlue;
  color: $colorWhite;
  padding: 25px 25px 18px 25px;
  border-radius: 7px;
  margin-bottom: $spaceBetweenComponentsMd;
}
