$colorWhite: #fff;

$colorGrayB3: #eeeeee;
$colorGrayB2: #cccccc;
$colorGrayB1: #aaa;
$colorGray: #777;

$colorBlack: #000;

$colorGreenB3: #e7fff4;
$colorGreen: #12c877;

$colorBlueB3: #e2efff;
$colorBlueB2: #c1ddff;
$colorBlueB1: #338eff;
$colorBlueB4: #74bafc;

$colorBlue: #0072ff;
$colorBlueD1: #002c61;

$colorRedB3: #fff0f0;
$colorRed: #ca0000;

$colorYellowB3: #fdf5dc;
$colorYellow: #f6c100;

$colorLightBlue: #c6ddff;
$colorLightestBlue: #fdffff;
$colorBgBody: #f3f7fc;

$colorViewButton: #e4f1fd;

$colorDarkGrayTable: #0d3146;

$colorPink: #ffd8d8;
$colorPinkDark: #f6a2ae;
$colorPinkRed: #e0414a;
