$fontFamilyRegular: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontFamilyBold: 'RobotoBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontFamilyLight: 'RobotoLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontFamilyItalic: 'RobotoItalic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontFamilyMedium: 'RobotoMedium', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$fontSizeSm: 14px;
$fontSizeMd: 16px;
$fontSizeMd2: 18px;
$fontSizeLg0: 20px;
$fontSizeLg: 24px;
$fontSizeXl: 32px;
$fontSizeXXl: 44px;
