$fontFamilyRegular: 'CerebriSans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontFamilyBold: 'CerebriSansBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontFamilyLight: 'CerebriSansLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontFamilyItalic: 'CerebriSansItalic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontFamilyMedium: 'CerebriSansMedium', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$fontSizeSm: 14px;
$fontSizeMd: 16px;
$fontSizeMd2: 18px;
$fontSizeLg0: 20px;
$fontSizeLg: 24px;
$fontSizeXl: 32px;
$fontSizeXXl: 44px;
