@import "vars/index.scss";

.mh-navbar {
  background-color: $colorBlue;
  height: 70px;
  display: flex;
  flex-direction: column;

  .mh-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
  }

  a {
    font-family: $fontFamilyRegular;
    font-size: $fontSizeSm;
    color: rgba($colorWhite, 0.7);
  }

  .mh-logo {
    line-height: 0;

    img {
      height: 30px;
      width: auto;
    }
  }

  .mh-navbar-item {
    &.mh-active {
      a {
        color: $colorWhite;
      }
    }
  }

  svg {
    transition: fill 0.5s;
    fill: rgba($colorWhite, 0.7);
  }

  // #region -------------- Desktop -------------------------------------------------------------------

  .mh-desktop-navbar {
    .mh-nav-items-container {
      flex: auto;
      display: flex;
      flex-direction: row;
    }

    .mh-navbar-item {
      margin-left: 60px;

      @media #{$lgDown} {
        margin-left: 40px;
      }
    }
  }

  // #endregion

  // #region -------------- Mobile -------------------------------------------------------------------

  .mh-mobile-navbar {
    flex-direction: column;
    align-items: inherit;

    .mh-mobile-header {
      display: flex;
      flex-direction: row;
      flex: 1;
      justify-content: space-between;
      align-items: center;
    }

    .mh-navbar-toggle-button {
      line-height: 0;

      svg {
        height: 30px;
        width: 30px;
      }

      &.mh-is-open svg {
        fill: $colorWhite;
      }
    }

    .mh-mobile-menu-container {
      height: 0;
    }

    .mh-mobile-menu {
      z-index: 20;
      position: absolute;
      left: 0;
      right: 0;
      background-color: $colorBlue;
      text-align: left;
      box-shadow: 0 15px 40px rgba($colorBlack, 0.2);
    }

    .mh-network-picker {
      width: 100%;
    }

    .mh-navbar-item {
      border-top: 1px solid rgba($colorBlueB2, 0.3);

      &:last-child {
        border-bottom: 1px solid rgba($colorBlueB2, 0.3);
      }

      a {
        text-transform: uppercase;
        font-size: $fontSizeMd;
        display: block;
        padding-top: $spaceBetweenComponentsXxs;
        padding-bottom: $spaceBetweenComponentsXxs;
      }
    }
  }

  // #endregion
}
