@import "vars/index.scss";

.mh-connectivity-explorer {
  .mh-tree-item-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .mh-header-text {
      padding-right: 10px;
    }
  }

  .mh-collapsible-content {
    padding-left: 25px;
  }

  .mh-status-indicator {
    border-radius: 50%;
    height: 10px;
    width: 10px;

    &.mh-green {
      background-color: $colorGreen;
    }

    &.mh-yellow {
      background-color: $colorYellow;
    }

    &.mh-red {
      background-color: $colorRed;
    }
  }
}