@import "vars/index.scss";

.mh-alert {
  padding: $paddingSm;
  word-break: break-word;
  word-wrap: break-word;
  font-size: $fontSizeMd;
  text-align: center;

  &.mh-error {
    color: $colorPinkRed;
    background-color: $colorPink;
    padding: 10px;
    border-radius: 5px;
  }

  &.mh-warning {
    background-color: $colorYellowB3;
    color: $colorYellowD1;
    box-shadow: boxShadowGlow($colorYellowB3);
  }

  &.mh-info {
    background-color: $colorBlueB3;
    color: $colorBlue;
    box-shadow: boxShadowGlow($colorBlueB2);
  }

  &.mh-success {
    color: $colorGreenB3;
    background-color: $colorGreen;
    padding: 10px;
    border-radius: 5px;
    box-shadow: boxShadowGlow($colorGreen);
  }
}
