@import "vars/index.scss";

.mh-contract {
  .mh-complience-percent {
    &.mh-green {
      color: $colorGreen;
    }

    &.mh-yellow {
      color: $colorYellow;
    }

    &.mh-red {
      color: $colorRed;
    }
  }

  .mh-dashboard {}

  .mh-report-form-header {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;

    .mh-dropdown-indicator {
      margin-right: 10px;
    }
  }
}
