@import "vars/index.scss";

.mh-contract {
  .mh-complience-percent {
    &.mh-green {
      color: $colorGreen;
    }

    &.mh-yellow {
      color: $colorYellow;
    }

    &.mh-red {
      color: $colorRed;
    }
  }

  .mh-dashboard {
    position: relative;
    margin-top: $spaceBetweenComponentsSm;
  }

  .mh-linechart {

    h4 {
      margin-bottom: 20px;
      text-align: center;
    }

    .mh-linechart-content {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

    .recharts-legend-item {
      margin-right: 20px !important;
    }

    .recharts-default-legend {
      padding-top: 10px;
    }

    .recharts-legend-item-text {
      @media #{$smDown} {
        font-size: 14px
      }
    }
  }

  .mh-history {
    margin-top: $spaceBetweenComponentsXs;
  }

  .mh-speed-reporting {
    margin-top: $spaceBetweenComponentsXs;
  }

  .mh-report-form-header {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;

    .mh-dropdown-indicator {
      margin-right: 10px;
    }
  }
}
